<div class="flex flex-col px-4 mx-3 mt-0 md:m-4 text-primary ">
  <div class="scrollbar-custom basis-[1] overflow-auto max-h-[80vh]">
    <div class="font-bold text-xl border-b-2 p-3 border-primary">News Feed</div>
    <div class="flex flex-col mt-2 overflow-y-auto">
      <app-loader *ngIf="loading" class="flex justify-center items-center mt-3"></app-loader>
      <a *ngFor="let item of items; let i = index" [href]="item.url" target="_blank" class="w-full p-2 border-b-2 mt-2 border-primary">
        <div class="flex items-center gap-2">
          <div class="w-6 h-6">
            <img [src]="item.image" alt="Icon" class="rounded-lg w-full h-full object-cover">
          </div>
          <h4 class="text-xs font-light">{{item.source.name}}</h4>
        </div>
        <div class="flex h-full overflow-hidden">
          <div class="flex flex-col gap-2 max-h-50 max-w-100">
            <h2 class="text-[1rem] capitalize mt-2">{{item.title}}</h2>
            <p class="text-xs overflow-hidden line-clamp-4">
              {{item.description}}
            </p>
          </div>
          <div class="flex flex-col p-2 items-center">
            <div class="w-24 h-24">
              <img [src]="item.image" alt="Img" class="rounded-xl w-full h-full object-cover">
            </div>
            <span class="text-end mt-1 text-xs">{{item.publishedAt | date:'short'}}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
