<div class="bg-transparent text-primary md:my-3 md:mx-4 md:bg-foreground rounded-xl px-4 flex flex-col items-center justify-center max-h-full p-4">
  <div class="border-b-2 w-full border-primary pb-3 mb-4 mx-4">
    <a routerLink="/setting" class="font-bold text-xl block">Add your details</a>
  </div>
  <div class="flex flex-col h-full justify-center items-center mx-auto my-2">
    <div class="text-lg md:px-72 text-left">
      <p>Please provide the following details so that we can curate personalized news articles based on your preferences.</p>
      <p>The more you share, the more personalized it gets. You choose what you want to share.</p>
    </div>
    <div class="flex flex-col p-10 md:px-72 w-full">
      <div class="relative w-full mb-7">
        <textarea rows="4" id="personal_details"
                  [(ngModel)]="personalDetails"
                  class="block w-full text-sm text-primary bg-transparent rounded-lg border p-5"
                  placeholder="I am a student. I am 24 years old. I live in New York City. I am studying Psychology. I like to read books, mainly fiction."></textarea>
        <label for="personal_details"
               class="absolute z-0 text-xl text-primary scale-75 -top-3 -left-3 bg-foreground px-2 font-semibold">Personal Details:</label>
      </div>
      <div class="relative w-full">
        <textarea rows="4" id="summary_style"
                  [(ngModel)]="summaryStyle"
                  class="block w-full text-sm text-primary bg-transparent rounded-lg border p-5"
                  placeholder="Funny but accurate."></textarea>
        <label for="summary_style"
               class="absolute z-0 text-xl text-primary scale-75 -top-3 -left-5 bg-foreground px-2 font-semibold">Summary style preference:</label>
      </div>
      <div class="flex justify-end items-center">
        <button (click)="onSubmit()"
          class="text-base border border-primary px-6 py-2 rounded-lg transition hover:bg-primary hover:text-foreground mt-2 md:mt-10">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
